<a href="https://colab.research.google.com/github/buianhtuyet05/ueh25-ktlt-eco/blob/main/buoi2_250816/baitap_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("Hello, World!")

Hello, World!

In [ ]:
from IPython.display import display

In [ ]:
# ghi chÃº
...
ghi

In [ ]:
pv = 100
r = 0.1
n = 7
fv = pv * ((1+r)**n)
print(round(fv, 2))

194.87

In [ ]:
score = 80
if score >=60 :
   print ("Pass")

Pass

In [ ]:
# Python Variables
x = 2
price = 2.5
word = 'Hello'

word = 'Hello'
word = "Hello"
word = '''Hello'''
print(x,price,word)
print(f'x = {x, type(x)}, price = {price, type(price)}, word={word, type (word)}')

2 2.5 Hello
x = (2, <class 'int'>), price = (2.5, <class 'float'>), word=('Hello', <class 'str'>)

In [ ]:
x = 2
y = x + 1
print (x,y)

2 3

In [ ]:
# comment
from platform import python_version
print ("Python Version:", python_version())
print ("python version:", python_version)

Python Version: 3.11.13
python version: <function python_version at 0x790ca849ede0>

In [ ]:
x = "Hello, World"
print(x, type(x))
x=2
print(x)

Hello, World <class 'str'>
2

In [ ]:
x = ["apple", "banana", "cherry"] #list
print(x, type(x), x[1:3])

['apple', 'banana', 'cherry'] <class 'list'> ['banana', 'cherry']

In [ ]:
x = ("apple", "banana", "cherry") #tuple
print (x, type(x))

('apple', 'banana', 'cherry') <class 'tuple'>

In [ ]:
x = range(6) #range
print (x, type(x))

range(0, 6) <class 'range'>

In [ ]:
x = {"name" : "Tom", "age" : 20} #dictionary
print (x, type(x))

{'name': 'Tom', 'age': 20} <class 'dict'>

In [ ]:
x = {"apple", "banana", "cherry"} #set
x.add('hello')
print(x, type (x))

{'hello', 'banana', 'cherry', 'apple'} <class 'set'>

In [ ]:
x = ('apple', 'banana', 'cherry') #immutable
#x.append('hello')
x = ('apple', 'banana', 'cherry', 'hello')
print(x, type(x), x[1:3])

('apple', 'banana', 'cherry', 'hello') <class 'tuple'> ('banana', 'cherry')

In [ ]:
x = True
print(x, type(x))

True <class 'bool'>

In [ ]:
x = b"Hello" #bytes
print(x, type(x))

b'Hello' <class 'bytes'>

In [ ]:
x = bytearray(5) #bytearray
print(x, type(x))

bytearray(b'\x00\x00\x00\x00\x00') <class 'bytearray'>

In [ ]:
x = memoryview(bytes(5)) #memoryview
print(x, type(x))

<memory at 0x790c7ea75d80> <class 'memoryview'>

In [ ]:
x = None #NoneType
print(x, type(x))

None <class 'NoneType'>

In [ ]:
x = str(3) # x will be '3'
print (x, type(x))

3 <class 'str'>

In [ ]:
y = int(3) # y will be 3
print(y, type(y))

3 <class 'int'>

In [ ]:
z = float(3) # z will be 3.0
print(z, type(z))

3.0 <class 'float'>

In [ ]:
x = 2 # int
print(x, type(x))

2 <class 'int'>

In [ ]:
y = 3.4 # float
print(y, type(y))

3.4 <class 'float'>

In [ ]:
z = 7j #complex
print (z, type(z))

7j <class 'complex'>

In [ ]:
#operator
# addition
print(7+2)

9

In [ ]:
print(7-2)

5

In [ ]:
print(7*2)

14

In [ ]:
print(7/2)

3.5

In [ ]:
#Floor division
print(7//2)

3

In [ ]:
#Modulus
print( 7 % 2)

1

In [ ]:
#exponentiation
print(7**2)

49

In [ ]:
#bmi
height_cm = 163
weight_kg = 50

#process
height_m = height_cm/100
BMI = (weight_kg/(height_m**2))
print("Your BMI is: " + str(round(BMI,1)))

Your BMI is: 18.8

In [ ]:
# How much is your $100 worth after 7 years?
fv = 100 * 1.1 ** 7
print('fv = ', round(fv, 2))
# output = 194.87

fv =  194.87

In [ ]:
#input
pv = 100
r = 0.1
n = 7
fv = pv * ((1 + (r)) ** n)
print(round(fv, 2))

194.87

In [ ]:
# inpu
amount = 100
interest = 10 #10% = 0.01 * 10
years = 7
# process
future_value = amount * ((1 + (0.01 * interest)) ** years)
print('future_value', round(future_value, 2))

future_value 194.87

 ## Cáº¥u trÃºc dá»¯ liá»u

In [ ]:
x = ["apple", "banana", "cherry"] #list
print(x, type(x), x[1:3])
x = ("apple", "banana", "cherry") #tuple
print (x, type(x))
x = range(6) #range
print (x, type(x))
x = {"name" : "Tom", "age" : 20} #dictionary
print (x, type(x))
x = {"apple", "banana", "cherry"} #set
x.add('hello')
print(x, type (x))
x = ('apple', 'banana', 'cherry') #immutable
#x.append('hello')
x = ('apple', 'banana', 'cherry', 'hello')
print(x, type(x), x[1:3])

['apple', 'banana', 'cherry'] <class 'list'> ['banana', 'cherry']
('apple', 'banana', 'cherry') <class 'tuple'>
range(0, 6) <class 'range'>
{'name': 'Tom', 'age': 20} <class 'dict'>
{'hello', 'banana', 'cherry', 'apple'} <class 'set'>
('apple', 'banana', 'cherry', 'hello') <class 'tuple'> ('banana', 'cherry')

In [ ]:
x = [60, 70, 80, 90]
print(len(x))
print(x[0])
print(x[1])
print(x[-1])

4
60
70
90

In [ ]:
# tuple
x = (10, 20, 30, 40, 50)
print(x[0])
print(x[1])
print(x[2])
print(x[-1])
print (x[3])
print (x[-2])

10
20
30
50
40
40

In [ ]:
# sets
animals = {'cat', 'dog'}
print('cat' in animals)
print('fish' in animals)
animals.add('fish')
print('fish' in animals)
print(len(animals))
animals.add('cat')
print(len(animals))
animals.remove('cat')
print(len(animals))

True
False
True
3
3
2

In [ ]:
# dictionary
k = { 'EN':'English'
,
'FR':'French' }
print(k['EN'])

English

In [ ]:
# data types
fruits = ["apple", "banana", "cherry"] #lists []
colors = ("red", "green", "blue") #tuples ()
animals = {'cat', 'dog'} #sets {}
person = {"name" : "Tom", "age" : 20} #dictionaries {}

In [ ]:
# lists
expenses = [72.50, 80.75, 50.00, 90.25]
total_expenses = sum(expenses)
print("Total expenses:", total_expenses)

Total expenses: 293.5

In [ ]:
#tuples
accounts = (("Cash", 1001), ("Accounts Receivable", 1002),
("Inventory", 1003))
for account in accounts:
    print(" Account name: ", account[0], " - Account number: ", account[1])

 Account name:  Cash  - Account number:  1001
 Account name:  Accounts Receivable  - Account number:  1002
 Account name:  Inventory  - Account number:  1003

In [ ]:
# Sets
account_numbers = {1001, 1002, 1003}
new_account_number = 1004
if new_account_number not in account_numbers:
   print("Account number", new_account_number, "is not in use.")
   print(f'Acount number {new_account_number} is not in use')

Account number 1004 is not in use.
Acount number 1004 is not in use

In [ ]:
#dictionary
accounts = {
    "1001": {"name": "Cash", "balance": 500.0, :"type": "Asset"}
    "1002": {"name": "Cash", "balance": 750.0, :"type": "Asset"}
    "1003": {"name": "Cash", "balance": 1000.0, :"type": "Asset"}
}
for account_num, acc_info in accounts.items():
    print('-'*50)
    print('Account Number: ', acc_num)
    print('Account Name: ', acc_info['name'])
    print('Account Balance: ', acc_info['balance'])
    print('Account Type: '. acc_info['type'])

SyntaxError: invalid syntax (ipython-input-2926900100.py, line 3)

In [ ]:
accounts = {"1001": {"name": "Cash", "balance": 500.00, "type": "Asset"},
"1002": {"name": "Accounts Receivable", "balance": 1000.00, "type": "Asset"},
"2001": {"name": "Accounts Payable", "balance": 750.00, "type": "Liability"}}
for account_number, account_info in accounts.items():
    print("Account number:", account_number)
    print("Account name:", account_info["name"])
    print("Account balance:", account_info["balance"])
    print("Account type:", account_info["type"])

Account number: 1001
Account name: Cash
Account balance: 500.0
Account type: Asset
Account number: 1002
Account name: Accounts Receivable
Account balance: 1000.0
Account type: Asset
Account number: 2001
Account name: Accounts Payable
Account balance: 750.0
Account type: Liability

## Control Logic and Loops

In [ ]:
#if
score = 80
if score >= 60:
   print('Pass')
else: #score < 60
   print('Fail')

Pass

In [ ]:
#if
score = 80
if score >= 90:
   print('A')
elif score >= 60: # score < 90 and score >= 60
   print('Pass')
else: #score < 60
   print('Fail')

Pass

In [ ]:
#if
score = 90
grade = ''
if score >= 90:
   grade = 'A'
elif score >= 80: # score < 90 and score >= 80
   grade = 'B'
elif score >= 70:
   grade = 'C'
elif score >= 60:
   grade = 'D'
else: #score < 60
   grade = 'E'
print(grade)

A

In [ ]:
# For
for i in range(1,6):
    print(i)

1
2
3
4
5

In [ ]:
# for loops
for i in range(1,10):
    for j in range(1,10):
       print(i, ' * ' , j , ' = ', i*j)
    print('-'*50)

1  *  1  =  1
1  *  2  =  2
1  *  3  =  3
1  *  4  =  4
1  *  5  =  5
1  *  6  =  6
1  *  7  =  7
1  *  8  =  8
1  *  9  =  9
--------------------------------------------------
2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
--------------------------------------------------
3  *  1  =  3
3  *  2  =  6
3  *  3  =  9
3  *  4  =  12
3  *  5  =  15
3  *  6  =  18
3  *  7  =  21
3  *  8  =  24
3  *  9  =  27
--------------------------------------------------
4  *  1  =  4
4  *  2  =  8
4  *  3  =  12
4  *  4  =  16
4  *  5  =  20
4  *  6  =  24
4  *  7  =  28
4  *  8  =  32
4  *  9  =  36
--------------------------------------------------
5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
--------------------------------------------------
6  *  1  =  6
6  *  2  =  12
6  *  3  =  18
6  *  4  =  24
6  *  5  =  30
6  *  6  =  36
6  *  7  =  42
6  *  8  =  48
6  *  9  =  54
--------------------------------------------------
7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63
--------------------------------------------------
8  *  1  =  8
8  *  2  =  16
8  *  3  =  24
8  *  4  =  32
8  *  5  =  40
8  *  6  =  48
8  *  7  =  56
8  *  8  =  64
8  *  9  =  72
--------------------------------------------------
9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36
9  *  5  =  45
9  *  6  =  54
9  *  7  =  63
9  *  8  =  72
9  *  9  =  81
--------------------------------------------------

In [ ]:
# while
age = 10
while age < 20:
    print(age)
    age = age + 1

10
11
12
13
14
15
16
17
18
19

## Module & Function

In [ ]:
# Python Function def
# indentation for blocks. four spaces
def getfv(pv, r, n):
  fv = pv * ((1 + (r)) ** n)
  return fv

fv = getfv(100, 0.1, 7)
print(round(fv, 2))

194.87

In [ ]:
# class
class MyClass:
  x = 5
c1 = MyClass()
print(c1.x)

5

In [ ]:
# class
class Person:
   def __init__(self, name, age):
     self.name = name
     self.age = age

p1 = Person("Alan", 20)

print(p1.name)
print(p1.age)

Alan
20

In [ ]:
# class
class Person:
   def __init__(self, name, age):
     self.name = name
     self.age = age
   def myfunc(self):
       print("Hello my name is " + self.name)
p1 = Person("Alan", 20)
p1.myfunc()

Hello my name is Alan

In [ ]:
# class vehicle:
class Vehicle:
    name = ""
    kind = "car"
    color = ""
    value = 100.00
    def __init__(self):
    def description(self):
        desc_str = f'{self.name} is a {self.color} {self.kind} worth {self.value}'
        return desc_str
        pass
car1 = Vehicle()
car1.name = 'Fer'
car1.color = 'red'
car1.kind = 'convertible'
car1.value = 60000.0

car2 = vehicle("Jump", 'blue', 'van', 10000.0)
print(car1)

In [ ]:
%%writefile mymodule.py
def greeting(name):
  print("Hello, ", name)

def greeting_vn(name):
  print("Xin chao, ", name)

Overwriting mymodule.py

In [ ]:
!cat mymodule.py

def greeting(name):
  print("Hello, ", name)

In [ ]:
import mymodule as m1
import importlib
importlib.reload
mm.greeting('Alan')

Hello,  Alan

## Read/Write file

In [ ]:
# main function
%%writefile demo.py
def main():
print("Hello World!")

print(__name__)
if __name__ == "__main__":
main()

Overwriting demo.py

In [ ]:
def main():
    print("Hello World!")

if __name__ == "__main__":
    main()

Hello World!

In [ ]:
## Try, Except & File Handing

try:
  f = open('aa.txt')
except: #náº¿u lá»i
  print('File error')
  pass
finally:#khÃ´ng lá»i + lá»i Äá»u xuá»ng
  print('Final')

File error
Final

In [ ]:
!ls /content/drive/MyDrive/

ls: cannot access '/content/drive/MyDrive/': No such file or directory

In [ ]:
import glob
glob.glob()