# Tutorial 7a: Feature Construction

## transformers
These tasks are done using transformers

sklearn's "transformer" is used for this, the main methods being:

transformer.fit()
transformer.transform()
transformer.fit_transform()
Note that the analysis and fitting(training) is based only on the train dataset. After that, the learned transformations are applied to the test data.

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

## Load the dataset

In [4]:
df=sns.load_dataset('iris')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [6]:
# Seperate the target variable
X=df[df.columns[1:-1]]   # read "-1" as "the last one"
y=df[df.columns[-1]]

In [7]:
X, y

(     sepal_width  petal_length  petal_width
 0            3.5           1.4          0.2
 1            3.0           1.4          0.2
 2            3.2           1.3          0.2
 3            3.1           1.5          0.2
 4            3.6           1.4          0.2
 ..           ...           ...          ...
 145          3.0           5.2          2.3
 146          2.5           5.0          1.9
 147          3.0           5.2          2.0
 148          3.4           5.4          2.3
 149          3.0           5.1          1.8

 [150 rows x 3 columns],
 0         setosa
 1         setosa
 2         setosa
 3         setosa
 4         setosa
          ...
 145    virginica
 146    virginica
 147    virginica
 148    virginica
 149    virginica
 Name: species, Length: 150, dtype: object)

In [8]:
# Show the number of instances per class
y.value_counts()

species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [9]:
# split the data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42, stratify=y)

In [10]:
#Check before standardization
X_train.head()

     sepal_width  petal_length  petal_width
98           2.5           3.0          1.1
68           2.2           4.5          1.5
19           3.8           1.5          0.3
143          3.2           5.9          2.3
99           2.8           4.1          1.3