# Tutorial 7a: Feature Construction

## transformers
These tasks are done using transformers

sklearn's "transformer" is used for this, the main methods being:

transformer.fit()
transformer.transform()
transformer.fit_transform()
Note that the analysis and fitting(training) is based only on the train dataset. After that, the learned transformations are applied to the test data.

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

## Load the dataset

In [4]:
df=sns.load_dataset('iris')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [6]:
# Seperate the target variable
X=df[df.columns[1:-1]]   # read "-1" as "the last one"
y=df[df.columns[-1]]

In [7]:
X, y

(     sepal_width  petal_length  petal_width
 0            3.5           1.4          0.2
 1            3.0           1.4          0.2
 2            3.2           1.3          0.2
 3            3.1           1.5          0.2
 4            3.6           1.4          0.2
 ..           ...           ...          ...
 145          3.0           5.2          2.3
 146          2.5           5.0          1.9
 147          3.0           5.2          2.0
 148          3.4           5.4          2.3
 149          3.0           5.1          1.8

 [150 rows x 3 columns],
 0         setosa
 1         setosa
 2         setosa
 3         setosa
 4         setosa
          ...
 145    virginica
 146    virginica
 147    virginica
 148    virginica
 149    virginica
 Name: species, Length: 150, dtype: object)

In [8]:
# Show the number of instances per class
y.value_counts()

species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [9]:
# split the data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42, stratify=y)

In [10]:
#Check before standardization
X_train.head()

     sepal_width  petal_length  petal_width
98           2.5           3.0          1.1
68           2.2           4.5          1.5
19           3.8           1.5          0.3
143          3.2           5.9          2.3
99           2.8           4.1          1.3

# PCA

## Standardize the Data

PCA is affected by scale: you should give each of the features in your data a similar scale (mean = 0 and variance = 1) before applying PCA. We will use StandardScaler to standardize our datasetâ€™s features.

In [11]:
#Now lets apply 1-1 "StandardScaler" transformer
#1) import the module
from sklearn.preprocessing import StandardScaler

#2) define the model
scaler=StandardScaler()

#3) fit the model
scaler.fit(X_train)

#4) transform the data
X_train_ss = scaler.transform(X_train)

# note 3 and 4 could be combined like this:
# X_train_ss = SS.fit_transform(X_train)

In [12]:

X_train_ss

array([[-1.22024754, -0.4419858 , -0.13661044],
       [-1.87955796,  0.40282929,  0.38029394],
       [ 1.63676428, -1.2868009 , -1.17041921],
       [ 0.31814344,  1.19132338,  1.41410271],
       [-0.56093712,  0.17754527,  0.12184175],
       [-0.12139684,  0.79707634,  1.41410271],
       [ 0.0983733 , -1.2868009 , -1.4288714 ],
       [ 1.63676428, -1.23047989, -1.29964531],
       [-0.34116698, -1.3431219 , -1.29964531],
       [-0.12139684,  1.19132338,  1.15565051],
       [ 0.31814344,  0.74075533,  1.02642442],
       [-0.12139684, -1.3431219 , -1.29964531],
       [-0.12139684, -1.23047989, -1.29964531],
       [-0.34116698,  0.40282929,  0.38029394],
       [-1.44001768,  0.00858225, -0.13661044],
       [ 0.31814344,  1.24764439,  0.76797223],
       [ 0.75768372, -1.23047989, -1.04119311],
       [ 0.31814344, -1.23047989, -1.29964531],
       [ 0.53791358,  1.07868137,  1.6725549 ],
       [ 0.31814344,  0.57179231,  0.76797223],
       [ 0.75768372, -1.2868009 , -1.04119311],
       [-0.78070726,  0.62811332,  0.76797223],
       [-0.12139684,  1.58557043,  1.15565051],
       [-0.56093712,  1.64189143,  1.02642442],
       [-0.12139684,  0.23386627, -0.00738435],
       [ 0.75768372, -1.3431219 , -1.17041921],
       [ 1.41699414, -1.2868009 , -1.04119311],
       [ 1.85653442, -1.39944291, -1.04119311],
       [ 0.0983733 ,  0.62811332,  0.38029394],
       [-1.22024754,  0.12122426,  0.12184175],
       [ 2.95538512, -1.2868009 , -1.04119311],
       [ 0.97745386, -1.3431219 , -1.17041921],
       [-0.78070726,  0.17754527, -0.26583654],
       [-0.34116698, -0.10405976,  0.12184175],
       [-0.12139684, -1.3431219 , -1.4288714 ],
       [-0.12139684, -1.3431219 , -1.17041921],
       [ 0.0983733 ,  0.34650829,  0.25106784],
       [-1.22024754,  0.68443432,  0.89719832],
       [ 1.63676428,  1.47292841,  1.02642442],
       [ 0.97745386, -1.3431219 , -1.29964531],
       [-0.56093712,  1.02236036,  1.15565051],
       [ 0.31814344, -1.3431219 , -1.29964531],
       [-1.87955796,  0.68443432,  0.38029394],
       [ 0.97745386, -1.39944291, -1.29964531],
       [ 0.53791358,  1.24764439,  1.6725549 ],
       [-1.87955796,  0.12122426, -0.26583654],
       [ 0.75768372, -1.06151687, -1.29964531],
       [-0.12139684,  1.30396539,  1.41410271],
       [-0.56093712,  0.12122426,  0.12184175],
       [-1.22024754,  0.68443432,  1.02642442],
       [-0.78070726,  0.06490325, -0.00738435],
       [-1.65978782, -1.39944291, -1.17041921],
       [-1.44001768, -0.04773876, -0.26583654],
       [ 0.0983733 ,  0.96603936,  0.76797223],
       [-0.12139684,  0.4591503 ,  0.25106784],
       [-0.34116698,  1.02236036,  0.76797223],
       [ 0.75768372, -1.2868009 , -1.29964531],
       [-0.34116698,  0.23386627,  0.12184175],
       [ 1.197224  , -1.3431219 , -1.29964531],
       [ 0.0983733 ,  0.51547131,  0.38029394],
       [-0.56093712,  0.57179231,  0.25106784],
       [-0.78070726,  0.06490325,  0.25106784],
       [ 1.197224  ,  1.30396539,  1.6725549 ],
       [-0.78070726,  0.74075533,  0.50952003],
       [-0.34116698,  0.29018728,  0.12184175],
       [ 0.75768372,  1.02236036,  1.5433288 ],
       [-0.56093712,  0.62811332,  1.02642442],
       [ 0.0983733 , -1.2868009 , -1.29964531],
       [ 0.31814344,  1.07868137,  1.41410271],
       [-0.56093712,  0.4591503 ,  0.38029394],
       [-0.12139684,  0.17754527,  0.12184175],
       [-1.0004774 ,  1.75453345,  1.41410271],
       [ 2.2960747 , -1.2868009 , -1.4288714 ],
       [ 0.31814344,  0.85339734,  1.41410271],
       [-0.12139684,  0.74075533,  0.76797223],
       [-1.65978782,  0.34650829,  0.12184175],
       [ 0.0983733 , -1.23047989, -1.29964531],
       [ 1.63676428,  1.64189143,  1.28487661],
       [-0.12139684,  0.96603936,  1.15565051],
       [ 1.63676428, -1.06151687, -1.04119311],
       [-0.12139684, -1.51208492, -1.4288714 ],
       [-0.56093712,  0.57179231,  0.76797223],
       [-0.12139684,  1.13500238,  0.50952003],
       [-0.56093712,  0.74075533,  1.5433288 ],
       [ 1.85653442, -1.17415888, -1.04119311],
       [-0.78070726,  0.74075533,  0.89719832],
       [-2.31909824, -0.16038077, -0.26583654],
       [ 0.53791358,  1.07868137,  1.15565051],
       [-0.56093712,  1.30396539,  0.89719832],
       [ 1.41699414, -1.2868009 , -1.29964531],
       [-0.56093712,  0.51547131, -0.00738435],
       [-1.0004774 ,  0.34650829, -0.00738435],
       [ 0.31814344,  0.51547131,  0.25106784],
       [-1.22024754,  0.62811332,  0.38029394],
       [-0.12139684,  0.23386627,  0.38029394],
       [ 0.97745386, -1.2868009 , -1.29964531],
       [ 0.0983733 ,  0.90971835,  1.15565051],
       [-1.0004774 ,  0.12122426, -0.00738435],
       [-0.78070726,  0.74075533,  0.89719832],
       [ 0.75768372, -1.23047989, -1.29964531],
       [ 1.197224  , -1.3431219 , -1.4288714 ],
       [-1.0004774 , -0.16038077, -0.26583654],
       [ 2.51584484, -1.3431219 , -1.29964531],
       [-0.78070726,  0.23386627,  0.12184175],
       [ 0.0983733 , -1.2868009 , -1.29964531]])